<!doctype html>
<html>
 <head>
 <title>About Page! - Calorie Buddy</title>
 </head>
 <body>
 <h1> CalorieBuddy </h1>
 <p>Developed by Muhammad Rizqi Febriansyah. 
     This application is here to help you manage your diet. Nutritional facts will be provided based on the food ingredients used in your recipe. Do feel free to add, update, search and delete food. 
</p>
<p>Check the other links below: </p>
 <a href="/topic7/mid-term/home">Home</a> <br>
 <a href="/topic7/mid-term/addfood">Add Food</a> <br>
 <a href="/topic7/mid-term/search">Search Food</a> <br>
 <a href="/topic7/mid-term/update">Update Food</a> <br>
 <a href="/topic7/mid-term/list">View all the food</a>
 </body>
</html>