<!doctype html>
<html>
 <head>
 <title>Home Page! - Welcome to CalorieBuddy</title>
 </head>
 <body>
 <h1> CalorieBuddy </h1>
 <h2> Welcome to CalorieBuddy - We will help you meet your nutritional goals today! </h2>
 
 <p style="padding: 10px; border: 2px solid red;"> <a href="/topic7/mid-term/about">About</a> </p>
 <p style="padding: 10px; border: 2px solid orange;"> <a href="/topic7/mid-term/addfood">Add Food</a> </p>
 <p style="padding: 10px; border: 2px solid green;"> <a href="/topic7/mid-term/search">Search Food</a> </p>
 <p style="padding: 10px; border: 2px solid blue;"> <a href="/topic7/mid-term/update">Update Food</a> </p>
 <p style="padding: 10px; border: 2px solid violet;"> <a href="/topic7/mid-term/list">View all the food</a> </p>

 </body>
</html>