<!doctype html>
<html>
 <head>
 <title>Update Food Page!</title>
 </head>
 <body>
 <h1> Let's look for your food! </h1>
 <p>Do type below the food you are looking for:</p>
 <form action="/topic7/mid-term/update-result-db" method="GET">
 <input id="search-box" type="text" name="keyword" value="Default">
 <input type="submit" value="Submit" >
 </form>

 <br>
 <a href="/topic7/mid-term/home">Home</a> <br>
 <a href="/topic7/mid-term/addfood">Add Food</a> <br>
 <a href="/topic7/mid-term/about">About Food</a> <br>
 <a href="/topic7/mid-term/update">Update Food</a> <br>
 <a href="/topic7/mid-term/list">View all the food</a> <br>

 </body>
</html>